<%
	title = "Options Strategy: Putting Market Downtrends";
%>

<!DOCTYPE html>
<html lang="en">
  <head>
	<title><%= title %> - MartinSherene.com</title>
  	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  	<link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

	<link rel='stylesheet' href='/lib/jquery-colorbox/colorbox.css' />
	<style type="text/css">
		p.disclaimer {
			background: #eee;
			padding: 1em;
			border: 2px solid gray;
			font-size: .8em;
		}
		.term {
			text-decoration: underline;
			color: blue;
		}

		.chart-wrapper {
			background: #eee;
			padding: 1em;
			border: 1px solid gray;

			display: flex;
			flex-flow: column;
			align-items: center;

			font-size: .8em;
		}

		.chart-wrapper.float-right {
			margin: 0 0 1em 1em;
		}

		.chart-wrapper img {
			cursor: pointer;
		}
	</style>
  </head>
  <body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1><%= title %></h1>
				<p class="post-meta">August 20, 2017 by Martin</p>
				<p class="disclaimer">
					<strong>DISCLAIMER:</strong> I am not an investment professional. The
					following blog post is meant to express my personal opinions. It is not
					meant as investment advice or a recommendation to buy or sell a
					particular security. Make sure to do your own research.
				</p>
				<p>
					<strong><em><span style="color: #cc6600">Put</span>ting Market Downtrends</em></strong> is an options strategy
					that deals with the buying and selling of <strong>PUT</strong> contracts
					related to sudden reversals/downtrends in the stock market.
				</p>
				<p>
					This particular strategy requires patience and paying attention to the
					"big picture." By "big picture" I mean the overall stock market,
					particularly the <span data-term="SPY">S&amp;P 500 (SPY)</span> and
					<span data-term="QQQ">NASDAQ (QQQ)</span>. How are they doing? Are they
					uptrending? Downtrending? Or are they just flat?
				</p>
				<p>
					If you didn't already know, mid- and large-cap companies tend to follow
					market trends. If the market is doing well, so will the company. If the
					market is downtrending, so will the company. I should note that this
					rule applies when there is not other significant recent and/or upcoming
					news/events that may affect the company. <strong>Also - penny stocks do
					not apply as they have a mind of their own.</strong>
				</p>
				<p class="clearfix">
					<div class="float-right chart-wrapper">
						<strong>8/16/17 5-minute charts of QQQ and SPY</strong>
						<img src="/images/blog/trading/options-strategy/qqq-spy-20170816-5min-chart.png" width="211" height="276"
					alt="8/16/17 5-minute charts of QQQ and SPY" title="Click to enlarge" />
						<em>Click to enlarge</em>
					</div>
					Take a look at the following QQQ and SPY charts
					from August 16, 2017. You'll notice two things: 1) their overall patterns
					closely mimic one another<sup>1</sup>, and 2) after a slight dip at market open, both began
					uptrending as per the norm (with slight pullbacks throughout) between
					10am and 12:30pm Eastern.
				</p>
				<p class="clearfix">
					<div class="float-right chart-wrapper">
						<strong>8/16/17 5-minute chart of AAPL</strong>
						<img src="/images/blog/trading/options-strategy/aapl-20170816-5min-chart.png" width="277" height="133"
						alt="8/16/17 5-minute chart of AAPL" title="Click to enlarge"/>
						<em>Click to enlarge</em>
					</div>
					Now take a look at Apple's (AAPL) chart from the same day. Notice the
					reversal that occurred at 12:30pm, right in line with the market (I've
					included thumbnail charts of QQQ and SPY in the upper-right corner for
					reference). There was no damming news that prompted this reversal for
					Apple, it was just following the market. Why is that? You can thank
					institutional (hedge funds, banks, etc.) and retail (average Joe Schmoe)
					investors alike - neither like when the overall market is dipping, and
					will begin to sell off parts of their positions to preserve capital.
				</p>
				<p>
					Now that we've established a correlation between price action for AAPL
					<sup>2</sup>, SPY and QQQ, let's figure out how we can use that knowledge
					as a means for profiting from the stock market. On one hand, if you
					noticed a sharp dip (and what could be the beginning of a reversal) in
					SPY or QQQ, you could decide to short sell AAPL, expecting it to follow
					the current market trend. If you were to have shorted 100 shares of AAPL
					at 12:30 for an average price of $162.25 and then cover around 2pm at
					$160.75, you would've profited $150 (100 shares * $1.50 difference).
					However, <strong>that would've required buying power of over
					$16,000!</strong> Chances are if you're reading this, you're trying to
					grow a small account and your buying power may not be that large.
				</p>
				<p class="clearfix">
					<div class="float-right chart-wrapper">
						<strong>8/16/17 5-minute chart of an AAPL put contract</strong>
						<img src="/images/blog/trading/options-strategy/aapl-20170818-162.5-put.png" width="274" height="129"
					alt="8/16/17 5-minute chart of an AAPL put contract" title="Click to enlarge" />
						<em>Click to enlarge</em>
					</div>
					This is where the beauty of options comes in. Take a look at the chart
					to the right, displaying the price of an AAPL put contract (strike of
					$162.50, expiration 8/18/17). At 12:30pm, the beginning of the reversal,
					this particular contract was going for about a dollar premium (so
					$100/contract, as a contract is 100 (shares) * premium ($)). Even at
					1pm, the contract was still going for around $1.25/e. By 2:30pm, these
					same contracts were selling for upwards of $2.50 each! If you would've
					bought these contracts at 1pm, and sold 90 minutes later, you would've
					doubled your money (or more, if you got in earlier)! <strong>This type
					of risk/reward (particularly for the amount of capital required) for
					AAPL is only possible with options.</strong>
				</p>
				<p>
					Now you're probably wondering, <em>why did I choose that particular
					contract?</em> Here is my reasoning:
					<ul>
						<li>I chose a PUT contract over a CALL, because I wanted to follow
						the trend. You can try to predict where the market may bounce/recover
						based on support/resistance lines, however if those fail, a CALL
						contract may end up being worthless.</li>
						<li>I chose the closest expiration because there's no telling
						what the market will do tomorrow, the remainder of the week, <thead>
						following week, etc. I was interested in capturing the market's
						volatility for that day.</li>
						<li>I also close the closest expiration because then I don't have
						to pay a higher premium for the contract due to time (extrinsic)
						value.</li>
						<li>I chose the $162.50 strike because it was the closest
						at-the-money/in-the-money contract, and I did not want to pay a
						higher premium for additional intrinsic value.</li>
					</ul>
				</p>
				<p>
					Now for the best part: <strong>many companies that follow market trends
					lag behind the market.</strong> What does this mean? That means if the
					market downtrends at 1pm, there will be 1 or more companies that will
					begin mimicing that same trend 5, 10, even up to an <strong>HOUR</strong>
					later. This gives you the peace of mind of confirming the market is
					in a downtrend, and then placing your order(s) for PUT contracts.
				</p>
				<p>
					So what companies should you watch out for? Well, I'm not going to spoon
					feed you. That's for you to figure out. Look up various indexes and ETFs,
					and figure out which companies they represent. Then look at charts... lots
					and lots of charts, comparing the company's history to the market.
				</p>
				<p>
					Last but not least, this strategy should be applied to companies that:
					<ul>
						<li>Follow market trends</li>
						<li>Are optionable</li>
						<li><strong>Have a healthy amount of [options] volume</strong></li>
					</ul>
				</p>

				<div class="footnotes">
					<strong>Footnotes</strong>
					<ol>
						<li>QQQ and SPY usually follow one another, and can be used as an
						indicator for the other. If one starts to go up/down, the other will
						likely follow within a few seconds. Generally, mid- and large- caps
						will follow suit soon after.</li>
						<li>Apple is one of many companies that follow market trends. To
						find other potential candidates, look up which companies belong
						to various indexes (S&amp;P 500, NASDAQ, Dow Jones, etc.) and ETFs.
						Then from that list, choose a few individual companies and compare
						their chart history with that of QQQ and SPY.</li>
					</ol>
				</div>
			</div>
		</div>
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	<script src="/scripts/underscore-min.js"></script>
	<script src="/lib/jquery-colorbox/jquery.colorbox-min.js"></script>

	<script type="text/javascript">
		function getTermDescription(term) {
			if (!term) return "";

			var termDictionary = [
				{
					"term" : "SPY",
					"description" : "The Standard & Poor's 500, often abbreviated as the S&P 500, or just 'the S&P', is an American stock market index based on the market capitalizations of 500 large companies having common stock listed on the NYSE or NASDAQ. SPY is an ETF that tracks the S&P 500."
				},
				{
					"term": "QQQ",
					"description": "The Nasdaq Stock Market is an American stock exchange. It is the second-largest exchange in the world by market capitalization, behind only the New York Stock Exchange. QQQ is an ETF that tracks the 100 largest companies listed on NASDAQ."
				}
			]

			var foundTerm = _.find(termDictionary, function(item) {
				return item.term.toLowerCase() == term.toLowerCase();
			})

			if (!foundTerm) {
				console.error("Term '" + term + "' does not exist.");
			}

			return foundTerm.description || "";
		}

		function setupTermDictionary() {
			$("[data-term]").each(function(index, element) {
				var term = $(element).data("term");
				var description = getTermDescription(term);

				$(element).attr("title", description);
				$(element).addClass("term");
			})
		}

		function setupColorbox() {
			$("img").each(function(index, element) {
				var url = $(this).attr("src");
				var altText = $(this).attr("alt");
				$(this).colorbox({ href: url, title: altText });
			});
		}

		$(document).ready(function() {
			setupTermDictionary();
			setupColorbox();
		});
	</script>
  </body>
</html>
